#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.container {
  @apply grid gap-3;
}

.card-wrapper {
  @apply p-5;

  .card {
    @apply bg-blue-gray-700 text-teal-parcelex-300 rounded-md p-3;

    .field {
      &.avatar {
        img {
          @apply rounded-full;
        }
      }
    }
  }
}

.form-wrapper {
  @apply bg-zinc-900 rounded-lg p-5;

  .title {
    @apply text-3xl font-bold mb-5;
  }

  .form {
    form {
      @apply grid gap-3;

      .label {
        @apply block text-left mb-3;
      }

      .field {
        @apply w-full p-3 rounded-lg;
      }

      .error-text {
        @apply text-xs text-red-300;
      }

      .btn-submit {
        @apply bg-blue-gray-500 mt-5 p-3 rounded-lg font-semibold text-xl tracking-wide;
      }
    }
  }
}
