#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  @apply grid gap-3;
}

.card-wrapper {
  @apply p-5;

  .card {
    @apply bg-blue-gray-700 text-teal-parcelex-300 rounded-md p-3;

    .field {
      &.avatar {
        img {
          @apply rounded-full;
        }
      }
    }
  }
}

.form-wrapper {
  @apply p-5;

  .form {
    form {
      @apply grid gap-3;

      .error-text {
        @apply text-xs text-red-300;
      }

      .btn-submit {
        
      }
    }
  }
}
